aside
{
    background-color: lightblue;
    grid-area: sidebar;
}

article
{
    background-color: palevioletred;
    grid-area: content;
}

footer
{
    background-color: aqua;
    grid-area: footer;
}

.page-container
{
    display: grid;
    grid-template-areas: 'sidebar content content' 'sidebar footer footer';
}

@media (max-width: 500px)
{
    .page-container
    {
        width: 95%;
        display: grid;
        grid-template-areas: 'content sidebar footer';
    }

}