body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/boostrap/images/bg2.jpg);
    background-size:cover;
}

h1 h2 h3
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-primary
{
    background-color: aquamarine;
    border-color:aquamarine;
    color: black;
}

.btn:hover
{
    background-color: rgb(250, 79, 0);
    border-color:aquamarine;
    color: rgb(255, 255, 255);
}

.dropdown-menu
{
    background-color: rgb(128, 124, 124);
    color:aliceblue;
}